In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.multiclass import OneVsRestClassifier

In [2]:
df1=pd.read_csv("train.csv")
df2=pd.read_csv("test.csv")

In [3]:
df2.columns

Index(['estimated blast radius(km)', 'temperature(C)',
       'distance from nearest carrier(nm)', 'military-to-civilian ratio',
       'population density', 'relative humidity', 'squadron strength', 'Id'],
      dtype='object')

In [4]:
X_test=df2[['estimated blast radius(km)', 'temperature(C)',
       'distance from nearest carrier(nm)', 'military-to-civilian ratio',
       'population density', 'relative humidity', 'squadron strength']]

In [5]:
df2.head()

,estimated blast radius(km),temperature(C),distance from nearest carrier(nm),military-to-civilian ratio,population density,relative humidity,squadron strength,Id
0,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,1
1,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,3
2,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,4
3,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,6
4,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,9

In [6]:
X_train=df1[['estimated blast radius(km)', 'temperature(C)',
       'distance from nearest carrier(nm)', 'military-to-civilian ratio',
       'population density', 'relative humidity', 'squadron strength']]

In [7]:
y_train=df1['city']

In [8]:
clf=RandomForestClassifier()

In [9]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [10]:
pred=clf.predict(X_test)

In [11]:
Id=df2['Id']

In [12]:
df=pd.DataFrame([Id,pred])

df=df.T

df.columns=(['Id','city'])

df.index=df['Id']

df=df.drop(columns=['Id'])

In [13]:
df.to_csv(f"submit.csv")

In [14]:
df

     city
Id
1       2
3       1
4       2
6       1
9       1
..    ...
203     3
204     1
206     1
209     7
212     2

[79 rows x 1 columns]