In [23]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df1=pd.read_csv("train.csv")
df2=pd.read_csv("test.csv")

In [3]:
df1.head()

,People,Population,Food Availible(Kg),Width(m),Length(m),Months,Survival %,Id
0,Slavs,242.0,23.2,25.4,30.0,4.0200,11.5200,0
1,Slavs,340.0,23.9,26.5,31.1,4.6961,12.3778,2
2,Slavs,430.0,26.5,29.0,34.0,5.1340,12.4440,4
3,Slavs,450.0,26.8,29.7,34.7,4.9274,13.6024,5
4,Slavs,500.0,26.8,29.7,34.5,5.2785,14.1795,6

In [5]:
df1['People'].unique()

array(['Slavs', 'Poles', 'POWs', 'Parkki', 'Jews', 'Undesirables',
       'Handicapped'], dtype=object)

In [10]:
df1=df1.join(pd.get_dummies(df1['People']))

In [12]:
df1=df1.drop(columns="People")

In [14]:
df1.head()

,Population,Food Availible(Kg),Width(m),Length(m),Months,Survival %,Id,Handicapped,Jews,POWs,Parkki,Poles,Slavs,Undesirables
0,242.0,23.2,25.4,30.0,4.0200,11.5200,0,0,0,0,0,0,1,0
1,340.0,23.9,26.5,31.1,4.6961,12.3778,2,0,0,0,0,0,1,0
2,430.0,26.5,29.0,34.0,5.1340,12.4440,4,0,0,0,0,0,1,0
3,450.0,26.8,29.7,34.7,4.9274,13.6024,5,0,0,0,0,0,1,0
4,500.0,26.8,29.7,34.5,5.2785,14.1795,6,0,0,0,0,0,1,0

In [15]:
df1.columns

Index(['Population', 'Food Availible(Kg)', 'Width(m)', 'Length(m)', 'Months',
       'Survival %', 'Id', 'Handicapped', 'Jews', 'POWs', 'Parkki', 'Poles',
       'Slavs', 'Undesirables'],
      dtype='object')

In [17]:
X=df1[['Population', 'Food Availible(Kg)', 'Width(m)', 'Length(m)', 'Months',
       'Handicapped', 'Jews', 'POWs', 'Parkki', 'Poles',
       'Slavs', 'Undesirables']]

In [19]:
y=df1['Survival %']

In [21]:
 X_train, X_test, y_train, y_test = train_test_split(X, y)

In [24]:
clf=LinearRegression()

In [25]:
clf.fit(X_train,y_train)

LinearRegression()

In [26]:
clf.predict(X_test)

array([12.6700703 ,  7.2718851 ,  5.95961588, 11.49040452, 16.8447716 ,
       15.48617047, 14.87087403,  6.3381722 , 13.66752769, 13.85675163,
        5.98574631, 14.42285258,  3.44566016,  5.11207933,  5.54360957,
       16.52581225, 11.35040942,  3.92553734, 14.4295957 ,  7.58567242,
        7.39669679, 12.40995145, 12.57286875,  5.98098106,  6.92262681,
       11.22834931,  2.1691437 ,  7.34243411])

In [31]:
clf.score(X_test,y_test)

0.9759857032050594